@import 'var';
@import 'mixins';

/* GLOBAL */
body {
    background-color: $color-05;
    background-attachment: fixed;
}

header,
section {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.bg-glass {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-attachment: fixed;
}



/* ------ */

/* HEADER */
.header {
    @include bg-colorimg($bg-gradien01, $img-01);
    @include form-round(0, 0, 50%, 50%);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.container-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title,
    .subtitle {
        width: 80%;
        text-align: center;
    }

    .title {
        color: $secondary;
        font-family: $font-primary;
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 5rem;

        &::after {
            content: " ";
            display: block;
            height: 2px;
            background-color: greenyellow;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 15px;
            width: 20%;
        }

        span {
            color: $color-05;
            font-size: 3.6rem;
            font-weight: 900;
        }
    }

    .subtitle {
        color: $secondary;
        font-size: 1.3rem;

        span {
            color: $color-05;
            font-size: 1.8rem;
            font-weight: 500;
        }
    }
}

/* ------ */

/* NAV */
nav .show {
    margin-top: 1rem;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

nav {
    .title {
        color: $secondary;
        font-family: $font-primary;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;

        span {
            color: $color-05;
            font-size: 2.6rem;
            font-weight: 900;
        }
    }

    .nav-item {
        font-weight: 600;
        text-align: center;
    }
}

/* --- */

/* OURSTORY */
.img-ourstory {
    width: 100%;
    @include form-round(10%, 10%, 50%, 50%);
}

.title-ourstory {
    color: $secondary;
    font-family: $font-primary;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;

    &::after {
        content: " ";
        display: block;
        height: 2px;
        background-color: greenyellow;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 15px;
        width: 20%;
    }
}

.text-ourstory {
    color: $secondary;
    text-align: center;
}

/* -------- */
/* SINATTURERECIPES */
.singaturerecipes {
    @include bg-colorimg($bg-gradien02, $img-03);
}

.container-singaturerecipes {
    .title-singaturerecipes {
        color: $secondary;
        font-family: $font-primary;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;

        &::after {
            content: " ";
            display: block;
            height: 2px;
            background-color: greenyellow;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 15px;
            width: 20%;
        }
    }

    .text-singaturerecipes {
        color: $secondary;
        text-align: center;
    }
}

/* ---------------- */
/* OURMENU */
.section-ourmenu {
    background-color: $secondary;
}

.container-ourmenu {
    .title-ourmenu {
        color: $primary;
        font-family: $font-primary;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;

        &::after {
            content: " ";
            display: block;
            height: 2px;
            background-color: greenyellow;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 15px;
            width: 20%;
        }
    }

    .text-ourmenu {
        color: $primary;
        text-align: center;
        margin-bottom: 1rem;
    }
}

.card-ourmenu {
    border: $color-05 1px solid;


    .card-header {
        border: $color-05 1px solid;
        background-color: rgba($color-05, 4);
    }
}

.impaire-ourmenu {
    @include form-round(25px, 10px, 25px, 10px);
    box-shadow: -2px 0px 5px 3px rgba(0, 0, 0, 0.7);

    .card-header {
        @include form-round(24px, 9px, 0, 0);
    }
}

.paire-ourmenu {
    @include form-round(10px, 25px, 10px, 25px);
    box-shadow: 2px 0px 5px 3px rgba(0, 0, 0, 0.7);

    .card-header {
        @include form-round(9px, 24px, 0, 0);
    }
}

.cardtitle-ourmenu {
    span {
        background-color: $secondary;
        padding-left: 20px;
        padding-right: 5px;
        float: right;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    }
}

/* ------- */

/* GALERY */
.section-galery {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .img-galery {
        object-position: center;
        object-fit: cover;
        height: 200px;
        width: 100%;
        transition: transform 0.4s ease-in-out;
        transform: scale(1);
        will-change: transform;
    }

    .img-galery:hover {
        transform: scale(1.5);
        box-shadow: -2px 0px 10px 10px rgba(0, 0, 0, 0.7);
    }
}

/* ------ */

/* FOOTER */
footer .section-infofooter {
    background-color: rgba($primary, 0.6);

    .title {
        color: $secondary;
        font-family: $font-primary;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;

        &::after {
            content: " ";
            display: block;
            height: 2px;
            background-color: greenyellow;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 15px;
            width: 50%;
        }

        span {
            color: $color-05;
            font-size: 1.6rem;
            font-weight: 900;
        }

    }

    .subtitle {
        color: $secondary;
        font-size: 1rem;

        span {
            color: $color-05;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    .sitemap {
        list-style: none;
        color: $secondary;

        .list {
            border-bottom: 2px rgba($secondary, 0.5) solid;
            border-left: 1px rgba($secondary, 0.5) solid;
            padding-bottom: 0.5rem;
            padding-left: 1rem;
        }

        .contact {
            color: $secondary;
            font-weight: 700;
            margin-left: 50px;
            text-decoration: none;
            cursor: pointer;

            i {
                color: $color-05;
                margin-right: 10px;
            }
        }
    }
}

footer .section-mention {
    background-color: rgba($primary, 0.8);
    color: $secondary;

    .container-mention {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        div a {
            color: $secondary;
            margin-left: 5px;
            margin-right: 5px;
            text-decoration: none;
        }
    }
}

/* ------ */